<footer class="footer">
  <hr class="has-background-grey-lighter"/>
  <div class="level">
    <div class="level-item">
      <figure class="image is-96x96">
        <img src="images/igta_logo.jpg">
      </figure>
    </div>
    <div class="level-item">
      <figure class="image is-96x96">
        <img src="images/wtv_talentschmiede_logo.jpg">
      </figure>
    </div>
    <div class="level-item">
      <figure class="image is-96x96">
        <img src="images/bvh_logo.png">
      </figure>
    </div>
    <div class="level-item">
      <figure class="image is-96x96">
        <img src="images/tv_boenen_logo.jpg">
      </figure>
    </div>
  </div>
</footer>